.App{
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;

}
.main{
width: 75%;
background:linear-gradient(to bottom, rgba(0,0,0,0),#020230),url("./assests/bg.jpg");
display: flex;
flex-direction: column;
}

.top{
  height: 50%;
  position: relative;
  
}
.answer:hover,.answer.active{

  background: mediumblue;
}
.answer.correct{
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42%{
      background-color: rgb(252, 252, 10);
  }
  20%,
  40%,
  60%{
      background: linear-gradient(#f2f208,#282f06);
  }
  62%,
  100%{
      background: green;
  }
}



.answer.wrong{
  animation: wrong 4s ease forwards;
}
@keyframes wrong {
  0%,
  22%,
  42%{
      background-color: rgb(252, 2252, 10);
  }
  20%,
  40%,
  60%{
      background: linear-gradient(#faf208,#040f2a);
  }
  62%,
  100%{
      background: red;
  }
}



.answer{
  width: 40%;
  text-align: center;
  background: linear-gradient(#060010,#5f089d);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
   font-weight: 300;
   cursor: pointer;
   margin: 0 10px 20px;
   padding:10px;

}



.question{
  width: 80%;
background: linear-gradient(rgb(44, 13, 197),black);
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;

}
.answers{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.bottom{
  height: 50%;
}
.trivia{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.timer{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
font-weight: 700;
position: absolute;
bottom: 10px;
left: 80px;
}
.pyramid{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.moneyList{
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListitem{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;

}
.moneyListitem.active{
  background-color: teal;
}
.moneyListitemAmount{
 font-size: 20px;
 font-weight: 300;
}
.moneyListNumber{
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.endText{
  position : relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.start{
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.startInput{
  width: 100%;
  height: 50px;
border: none;
border-radius: 10px ;
text-align: center;
font-size: 18px;
}
.startInput:focus{
  outline: none;

}
.startButton{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;

  font-weight: 500;
}
